---
layout: layouts/base.njk
---
{% set nav = null %}
{% if "nixops-docs" in tags %}
  {% set nav = { title: "nixops", items: collections.nixopsDocs } %}
{% endif %}
<article class="doc">
  {% if nav %}
  <aside class="doc-nav">
    <div class="doc-nav-title">{{ nav.title }}</div>
    <ol>
      {% for item in nav.items %}
        <li{% if item.url == page.url %} class="active"{% endif %}>
          <a href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
      {% endfor %}
    </ol>
  </aside>
  {% endif %}
  <div class="doc-body">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {{ content | safe }}
  </div>
</article>
